<li id="note-<%= note.id %>">
	<%= link_to image_for(note.user, size: 50), note.user %>
	<span class="user"><%= link_to note.user.name, note.user %></span>
	<span class="content">
	  <%= note.content %>
	  <%= image_tag note.picture.url if note.picture? %>
	 </span>
	<spna class="timestamp">
		Posted <%= time_ago_in_words(note.created_at) %> ago
		<% if current_user?(note.user) %>
		  <%= link_to "delete", note, method: :delete, data: { confirm: "You sure?" } %>
	  <% end %>
	</spna>
</li>