<%= form_for(note.comments.build) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div><%= hidden_field_tag :note_id, note.id %></div>
  <div class="field">
    <%= f.text_area :content, placeholder: "comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>