<% provide(:title, @title) %>
<div class="row">
	<aside class="col-md-3">
		<section class="user_info">
			<h1>
			  <%= image_for(@user) %>
	      <%= @user.name %>
      </h1>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-6">
	  <%= render 'follow_form' if logged_in? %>
	  <% if @user.notes.any? %>
		  <h3>Notes (<%= @title %>)</h3>
		  <ol class="notes">
		  	<%= render @notes %>
		  </ol>
		  <%= will_paginate @notes %>
	  <% end %>
	</div>
	<div class="col-md-3"></div>
</div>

<script type="text/javascript">
  $('.reply').click(function() {
    var $comment_form = $(this).parents('li').find('.comment_form')
    if ($comment_form.hasClass('hidden')) {
      $comment_form.removeClass('hidden');
    } else {
      $comment_form.addClass('hidden');
    }
  });
</script>